
.body {
    text-align: center;
    background-image: url("./../img/protesters.png");
    background-size: 100%;
}

.title-container {
    padding: 20px;
}

.text {
    margin: auto;
    width: 80%;
    font-size: 30px;
    color: white;
    text-shadow: black;
}

