.postCard {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    max-width: 80vw;
    margin: auto;
    padding: 12px 4px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.postCard h1 {
    font-size: 32px;
    text-decoration: underline;
    padding: 0;
}