.sidedrawer {
	height: 100%;
	background: #5eafab;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5); /* adds shadow to the left of drawer */
	position: fixed;
	top: 35px;
	left: 0;
	width: 70%;
	max-width: 400px;
	z-index: 200;
	transform: translateX(-100%); /*where it starts out when closed */
	transition: transform 0.3s ease-out;
	text-align: center;
}

.sidebar-text {
	color: white;
	padding-top: 27px;
	padding-bottom: 27px;
	margin: 0 auto;
	width: 100%;

	align-self: stretch;

	display: inline-block;
}

.sidedrawer.open {
	transform: translateX(0); /* where sidebar should be when it's open */
}

.sidedrawer div.container {
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidedrawer div.sidedrawer_items {
	list-style: none;
	font-size: 25px;
	width: 100%;
}

.sidebar-text:hover {
	background-color: #468a86;
}
