.body {
	text-align: center;
}

.title {
	font-size: 50px;
    padding: 15px;
    padding-top: 90px;
    line-height: 60px;
}

.text {
	margin: auto;
	width: 80%;
}

p {
	font-size: 20px;
}

.subtitle {
	font-size: 30px;
	padding: 15px;
}

.input-field {
	height: 50px;
	width: 80%;
	font-size: 15px;
	/* vertical-align: top; */
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
