.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #88f0ea;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	height: 80px;
	z-index: 999;
}

.toolbar_togglebutton {
	position: fixed;
	right: 0;
	margin-right: 15px;
	padding-right: 20px;
}

.toolbar_navigation {
	/* display: inline-flex; */
	align-items: center;
	height: 100%;
	padding: 1.3rem 1rem;
	/* border-bottom: gray 1px solid; */
	/* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); */
}

/* .spacer {
	flex: 1; /*takes all space occupied between logo and items */


/* div.toolbar_navigation_items {
	float: right;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: none;
	font-size: 30px;
} */

.send-text {
	float: left;
}

.txting-btn {
	background-color: rgb(255, 92, 28);
	color: white;
	font-size: 30px;
	height: 35px;
	border-color: rgb(255, 92, 28);
}

.txting-btn:hover {
	background-color: red;
	cursor: pointer;
}

.toolbar-togglebutton {
	margin-top: 20px;
}

