.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
}

.toolbar-nav {
	/* display: flex; */
	height: 100%;
	align-items: center;
	padding: 0.7rem 1rem;
}

.profile-pic {
	float: right;
}

.sidebar-icon {
	float: left;
}
