.backarrow-container {
    position: absolute;
    top: 100px;
    left: 10px;
}

.protest-info h1 {
    margin-bottom: 0;
}

.protest-info h3 {
    color: grey;
    margin: auto;
}

.protest-posts h2 {
    font-size: 48px;
}

.protest-view button {
    text-decoration: none;
    color: black;
    font-size: 30px;
    background-color: #88F0EA;
    max-width: 40%;
    min-width: 20%;
    height: 60px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.protest-view hr {
    margin-top: 20px;
    width: 80%;
    color: gray;   
}