
.rights-btn {
    text-decoration: none;
    color: black;
    font-size: 30px;
    background-color: #88F0EA;
    max-width: 50%;
    min-width: 40%;
    height: 60px;

    justify-content: center;

    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 20px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.flag-container {
    width: 65px;
    height: auto;
    margin: 0 10px;
    padding: 0;
}

.flag {
    min-width: 100%;
}