.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #88f0ea;
	height: 80px;
}

.toolbar_togglebutton {
	position: fixed;
	right: 0;
	margin-right: 15px;
	padding-right: 20px;
}

.toolbar_navigation {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
	border-bottom: gray 1px solid;
}

.spacer {
	flex: 1; /*takes all space occupied between logo and items */
}

div.toolbar_navigation_items {
	float: right;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: none;
	font-size: 30px;
}
